// ** PRIMARY COLORS

$darkMagenta: hsl(300, 43%, 22%);

$softPink: hsl(333, 80%, 67%);

// ** NEUTRAL COLORS

$darkGrayishMagenta: hsl(303, 10%, 53%);

$lightGrayisMagenta: hsl(300, 24%, 96%);

$white: hsl(0, 0%, 100%);

// ** FONT

$spartan: 'Spartan', sans-serif;


// ** SCREEN SIZES

$desktop: 1024px;