html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin-block: 0;
  margin-inline: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 150%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

.top-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.bg-bottom-mobile {
  width: 100%;
}

.social-proof-container {
  padding: 3em 1.5em;
  max-width: 500px;
  margin: 0 auto;
  transition: 0.8s;
}
@media (min-width: 1024px) {
  .social-proof-container {
    max-width: 650px;
  }
}
@media (min-width: 1336px) {
  .social-proof-container {
    max-width: 1110px;
  }
}

@media (min-width: 1336px) {
  .social-proof__top-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5em;
  }
}

.social-proof__call {
  text-align: center;
}
@media (min-width: 1336px) {
  .social-proof__call {
    width: 50%;
    text-align: left;
  }
}

.social-proof__call__title {
  color: #502050;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  padding: 0 1em 1em 1em;
}
@media (min-width: 1336px) {
  .social-proof__call__title {
    padding-left: 0;
    font-size: 3rem;
    padding-bottom: 0.5em;
  }
}

.social-proof__call__content {
  color: #937b92;
  font-weight: 500;
  font-size: 0.9rem;
  padding-bottom: 2em;
}
@media (min-width: 1336px) {
  .social-proof__call__content {
    line-height: 150%;
    max-width: 85%;
    font-weight: 700;
  }
}

.social-proof__rated-container {
  text-align: center;
}
@media (min-width: 1336px) {
  .social-proof__rated-container {
    margin: auto 0;
  }
}

.social-proof__rated {
  background-color: #f7f2f7;
  border-radius: 7px;
  margin-bottom: 1em;
  padding: 1em 0;
}
@media (min-width: 1336px) {
  .social-proof__rated {
    display: flex;
    justify-content: center;
    padding: 1.2em 2em 0.8em 2em;
  }
}

.social-proof__rated__stars {
  padding-bottom: 0.5em;
}
.social-proof__rated__stars img {
  padding: 0 0.1em;
}
@media (min-width: 1336px) {
  .social-proof__rated__stars {
    padding-bottom: 0;
  }
}

.social-proof__rated__content {
  font-weight: 700;
  color: #502050;
  font-size: 0.8rem;
}
@media (min-width: 1336px) {
  .social-proof__rated__content {
    padding-left: 1em;
  }
}

@media (min-width: 1336px) {
  .rated--reviews {
    position: relative;
    right: 6em;
  }
}

@media (min-width: 1336px) {
  .rated--guru {
    position: relative;
    right: 3em;
  }
}

@media (min-width: 1336px) {
  .social-proof__cards-container {
    display: flex;
  }
}

.social-proof__card {
  background-color: #502050;
  color: white;
  border-radius: 7px;
  font-size: 0.8rem;
  padding: 2.5em;
}

@media (max-width: 1335px) {
  .social-proof__card:not(:last-child) {
    margin-bottom: 1em;
  }
}
@media (min-width: 1336px) {
  .social-proof__card:not(:last-child) {
    margin-right: 1.6em;
  }
}

.social-proof__card__user {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 1em;
}
.social-proof__card__user__img {
  width: 40px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
}
.social-proof__card__user__name {
  font-size: 1rem;
  font-weight: 700;
}
.social-proof__card__user__type {
  color: #ee68a4;
  opacity: 80%;
}

.social-proof__card__user-text {
  grid-column: 2;
  padding-left: 2em;
}

@media (min-width: 1336px) {
  .card--irene {
    position: relative;
    top: 1.5em;
  }
}

@media (min-width: 1336px) {
  .card--anne {
    position: relative;
    top: 3em;
  }
}/*# sourceMappingURL=style.css.map */