@use "reset" as *; @use "globals" as *; @use "variables" as *;
// ** CENTER EVERYTHING

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}


// ** BACKGROUND

.top-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bottom-bg {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -2;
}


// ** SOCIAL PROOF CONTAINER

.social-proof-container {
    padding: 3em 1.5em;
    max-width: 500px;
    margin: 0 auto;
    transition: 0.8s;

    @media (min-width: 1024px) {
        max-width: 650px;
    }

    @media (min-width: $desktop) {
        max-width: 1110px;
    }
}


// ** SOCIAL PROOF CALL

.social-proof__top-section {
    @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.5em;
    }
}

.social-proof__call {
    text-align: center;
    @media (min-width: $desktop) {
        width: 50%;
        text-align: left;
    }
}

.social-proof__call__title {
    color: $darkMagenta;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
    padding: 0 1em 1em 1em;
    @media (min-width: $desktop) {
        padding-left: 0;
        font-size: 3rem;
        padding-bottom: 0.5em;
    }
}

.social-proof__call__content {
    color: $darkGrayishMagenta;
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 2em;
    @media (min-width: $desktop) {
        line-height: 150%;
        max-width: 85%;
        font-weight: 700;
    }
}


// ** SOCIAL PROOF RATED

.social-proof__rated-container {
    text-align: center;
    @media (min-width: $desktop) {
        margin: auto 0;
    }
}

.social-proof__rated {
    background-color: $lightGrayisMagenta;
    border-radius: 7px;
    margin-bottom: 1em;
    padding: 1em 0;
    @media (min-width: $desktop) {
        display: flex;
        justify-content: center;
        padding: 1.2em 2em 0.8em 2em;
    }
}

.social-proof__rated__stars {
    padding-bottom: 0.5em;
    img{
        padding: 0 0.1em;
    }
    @media (min-width: $desktop) {
        padding-bottom: 0;
    }
}

.social-proof__rated__content {
    font-weight: 700;
    color: $darkMagenta;
    font-size: 0.8rem;
    @media (min-width: $desktop) {
        padding-left: 1em;
    }
}

.rated--reviews {
    @media (min-width: $desktop) {
        position: relative;
        right: 6em;
    }
}

.rated--guru {
    @media (min-width: $desktop) {
        position: relative;
        right: 3em;
    }
}


// ** SOCIAL PROOF CARDS

.social-proof__cards-container {
    @media (min-width: $desktop) {
        display: flex;
    }
}

.social-proof__card {
    background-color: $darkMagenta;
    color: $white;
    border-radius: 7px;
    font-size: 0.8rem;
    padding: 2.5em;
}

.social-proof__card:not(:last-child) {
    @media (max-width: $mobile) {
        margin-bottom: 1em;
    }

    @media (min-width: $desktop) {
        margin-right: 1.6em;
    }
}

.social-proof__card__user {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: 1em;

    &__img {
        width: 40px;
        border-radius: 50%;
        grid-column: 1;
        grid-row: 1;
    }

    &__name {
        font-size: 1rem;
        font-weight: 700;
    }

    &__type {
        color: $softPink;
        opacity: 80%;
    }
}

.social-proof__card__user-text {
    grid-column: 2;
    padding-left: 2em;
}

.card--irene {
    @media (min-width: $desktop) {
        position: relative;
        top: 1.5em;
    }
}

.card--anne {
    @media (min-width: $desktop) {
        position: relative;
        top: 3em;
    }
}
